@media (min-width: 576px) {
  .forms, .forms body {
    height: 100%;
  }

  .forms .forms-container {
    margin-top: 32px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 782px;
  }
}
.forms, .forms body {
  padding-top: 0px;
}

label {
  color: #5d5d5a !important;
}

.bg-paper {
  background: url(https://rp-static.com/www_foticos/img/background.jpg) top fixed;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.forms .forms-container {
  margin-bottom: 48px;
  height: 100%;
  max-width: 782px;
}

.forms-container {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

.mini-panel {
  background: #fff;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 26px 24px;
  margin: 0 0px;
}
